<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some Website</title>
</head>
<body>
  <h1>We'll be right back</h1>
  <p>The site is currently being updated and will be back soon</p>
</body>
</html>