<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some Website</title>
</head>
<body>
  {{> header}}
  <p>Projects portfolio is <a href={{bitBucketLink}}>here</a></p>

  {{> footer}}
</body>
</html>